<section class="padding-y-sm bg-light shadow border position-relative">
    <div class="container">
        <div class="row gy-3 align-items-center">
            <div class="col-md-8">
                <div class="icontext">
                    <div class="icon icon-sm bg-warning rounded"> 
                        <i class="bi bi-envelope text-white"></i>
                    </div>
                    <div class="text">
                        <h5 class="mb-0">Subscribe to Newsletter</h5>
                        <p class="text-muted mb-0">Get notified on offers</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-md-end">
                <form> 
                    <div class="input-group"> 
                        <input class="form-control" type="text" placeholder="Email"> 
                        <button class="btn btn-warning" type="submit"> Subscribe </button> 
                    </div> <!-- input-group.// --> 
                </form>
            </div>
        </div> <!-- row.// -->
    </div><!-- //container -->
</section>
